
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">New employee <%= link_to 'Back', employees_path, :class => "pull-right" %></div>
		</div>
			<!-- /.col-lg-12 -->
	</div>
			<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">    
				<div class="panel-body">                                                                                                         
					<div class="col-lg-6"> 
						<%= render 'form' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>